.container {
  width: 1000px;
  margin: 20px auto;
}
.header {
  display: flex;
  align-items: center;
  h1 {
    font-size: 24px;
    flex: 1;
    text-align: left;
  }
}

.status {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
}
.currentMove {
  flex: 1;

  font-size: 24px;
}
