.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.field {
  width: 60px;
  height: 60px;
  border: solid 1px #000;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    color: inherit;
    cursor: not-allowed;
  }
}

.fieldError {
  border-color: red;
}
